<section id="skills" class="full-height px-lg-5">
    <div class="container">

        <div class="row pb-4" data-aos="fade-up">
            <div class="col-lg-8">
                <h6 class="text-brand">Habilidades</h6>
                <h1>Conjunto de Conocimientos</h1>
            </div>
        </div>

        <div class="row gy-4">

            <div class="col-md-4" data-aos="fade-up">
                <div class="service p-4 bg-base rounded-4 shadow-effect">
                    <div class="iconbox rounded-4">
                        <i class="las la-laptop-code"></i>
                    </div>
                    <h5 class="mt-4 mb-2">Desarrollador Web</h5>
                    <p>Lenguajes: HTML, CSS, Javascript, Python, Java, etc.</p>
                    <p>Framework's: Angular, Flask y Django.</p>
                    <p>Bases de datos: MySQL, MariaDB, MongoDB, Oracle, etc.</p>
                    <a href="#" class="link-custom">Read More</a>
                </div>
            </div>

            <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
                <div class="service p-4 bg-base rounded-4 shadow-effect">
                    <div class="iconbox rounded-4">
                        <i class="las la-pencil-ruler"></i>
                    </div>
                    <h5 class="mt-4 mb-2">Ingeniro en Infomatica</h5>
                    <p>Transforma y administrar la información a través del diseño, desarrollo y aplicación de la tecnología.</p>
                    <p>Intervenir en el análisis, y exploracion de los datos y en distintas etapas de un proyecto informático.</p>
                    <a href="#" class="link-custom">Read More</a>
                </div>
            </div>

            <div class="col-md-4" data-aos="fade-up" data-aos-delay="600">
                <div class="service p-4 bg-base rounded-4 shadow-effect">
                    <div class="iconbox rounded-4">
                        <i class="las la-laptop-code"></i>
                    </div>
                    <h5 class="mt-4 mb-2">Desarrolador de aplicaciones </h5>
                    <p>Lenjuejes: C, C++, C#, Python, Java, .NET, etc.</p>
                    <p>Herramientas: Unity, Android Studio, Visual Studio, Git, NodeJS, etc.</p>
                    <p>Otros: API's, Paquete Oficce y demas herramientas.</p>
                    <a href="#" class="link-custom">Read More</a>
                </div>
            </div>

        </div>

    </div>
</section>
