<section id="proyects" class="full-height px-lg-5">
    <div class="container">

        <div class="row pb-4" data-aos="fade-up">
            <div class="col-lg-8">
                <h6 class="text-brand">Proyectos</h6>
                <h1>Mis proyectos recientes</h1>
            </div>
        </div>

        <div class="row gy-4">

            <div class="col-md-6" data-aos="fade-up">
                <div class="card-custom rounded-4 bg-base shadow-effect">
                    <div class="card-custom-image rounded-4">
                        <img class="rounded-4" src="./assets/images/project-1.jpg" alt="">
                    </div>
                    <div class="card-custom-content p-4">
                        <h4>Pagina de Inicio</h4>
                        <p>Pagina de inicio para una empresa de venta de vaquitas chiquitas, consta de sistema de anuncios y contador de visitas</p>
                        <a href="#" class="link-custom">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="card-custom rounded-4 bg-base shadow-effect">
                    <div class="card-custom-image rounded-4">
                        <img class="rounded-4" src="./assets/images/project-2.png" alt="">
                    </div>
                    <div class="card-custom-content p-4">
                        <h4>Pagina de Inicio</h4>
                        <p>Pagina de inicio para una empresa de venta de vaquitas chiquitas, consta de sistema de anuncios y contador de visitas</p>
                        <a href="#" class="link-custom">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6" data-aos="fade-up">
                <div class="card-custom rounded-4 bg-base shadow-effect">
                    <div class="card-custom-image rounded-4">
                        <img class="rounded-4" src="./assets/images/project-3.png" alt="">
                    </div>
                    <div class="card-custom-content p-4">
                        <h4>Pagina de Inicio</h4>
                        <p>Pagina de inicio para una empresa de venta de vaquitas chiquitas, consta de sistema de anuncios y contador de visitas</p>
                        <a href="#" class="link-custom">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="card-custom rounded-4 bg-base shadow-effect">
                    <div class="card-custom-image rounded-4">
                        <img class="rounded-4" src="./assets/images/project-4.png" alt="">
                    </div>
                    <div class="card-custom-content p-4">
                        <h4>Pagina de Inicio</h4>
                        <p>Pagina de inicio para una empresa de venta de vaquitas chiquitas, consta de sistema de anuncios y contador de visitas</p>
                        <a href="#" class="link-custom">Read More</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
