<!DOCTYPE html>
<html lang="en">

<app-header></app-header>

<body data-bs-spy="scroll" data-bs-target=".navbar">
    <!-- NAVBAR -->
    <app-navbar></app-navbar>
    <!-- //NAVBAR -->

    <!-- CONTENT WRAPPER -->
    <div id="content-wrapper">

        <!-- ACERCA DE -->
        <app-about></app-about>
        <!-- //ACERCA DE -->

        <!-- HABILIDADES -->
        <app-skills></app-skills>
        <!-- HABILIDADES -->

        <!-- PROYECTOS -->
        <app-proyects></app-proyects>
        <!-- //PROYECTOS -->

        <!-- EDUCATION -->
        <app-education></app-education>
        <!-- //EDUCACION -->

        <!-- EXPERIENCIA -->
        <app-experience></app-experience>
        <!-- //EXPERIENCIA -->

        <!-- CONTACTO -->
        <app-contact></app-contact>
        <!-- //CONTACT0 -->

        <!-- FOOTER -->
        <app-footer></app-footer>
        <!-- //FOOTER -->
    </div>
    <!-- //CONTENT WRAPPER -->

</body>
</html>