<section id="about" class="full-height px-lg-5">

    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <h1 class="display-4 fw-bold" data-aos="fade-up">Soy un <span class="text-brand">{{miporfolio.profession}}</span> de  BUENOS AIRES, AR</h1>
                <p class="lead mt-2 mb-4" data-aos="fade-up" data-aos-delay="300">Hola, me llamo {{miporfolio.name}}, soy programador web, y desarrollador de aplicaiones multiplataforma.</p>
                <div data-aos="fade-up" data-aos-delay="600">
                    <a href="#proyects" class="btn btn-brand me-3">Explora mi trabajo</a>
                </div>
            </div>
        </div>
    </div>

</section>
