<footer class="py-5 px-lg-5">
    <div class="container">
        <div class="row gy-4 justify-content-between">
            <div class="col-auto">
                <p class="mb-0">© <a href="#" class="fw-bold">Santiago Mansfeld 2023</a></p>
            </div>
            <div class="col-auto">
                <div class="social-icons">
                    <!-- no entres a nada de esto, es solo por referencia xd -->
                    <a href="https://twitter.com/SaM63p"><i class="lab la-twitter"></i></a>
                    <a href="https://www.instagram.com/tomaroou/"><i class="lab la-instagram"></i></a>
                    <a href="https://wa.me/+5491125415924"><i class="lab la-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>